.divCards {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.26);
    
    justify-content: center;
    margin-top: 23%;
    margin-left: 21%;
   
    border-radius: 15px;
}