.divCards {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.26);
    padding-top: 20%;
    justify-content: center;
    margin: auto;
   
    border-radius: 15px;
}