@font-face {
    font-family: 'Beleren2016-Bold';
    src: url('../Fonts/typeface-beleren-bold-master/Beleren2016-Bold.ttf');
}

.divCard {
    width: 330px;
    height: 390px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    font-family: 'Beleren2016-Bold', sans-serif;
    color: rgb(31, 0, 31);

    background-image: url(../Resources/DesignCard.png);
    
    background-position: center;  
    background-repeat: no-repeat;
    background-size: 100%;
}

.image {
    position: relative;
    top: -37.5px;
    max-height: 222px;
}


.h2Name{
    text-align: left;
    
    font-size:larger;
    position: relative;
    top: -20.2px;
    left: 30px;
    
    
}

.specie {
    text-align: left;
    
    font-size:larger;
    position: relative;
    top: -50px;
    left: 30px;
}

.genre {
    text-align: left;
    
    font-size:larger;
    position: relative;
    top: -60px;
    left: 30px;
} 

.botonX {
    position: relative;
    right: -118px;
    background-color: rgb(177, 5, 5);
    border-style: double;
    border-color: rgb(143, 32, 32);
}